// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
span {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size:4rem;
    font-weight:100;
    color:white;
  }